PORT=10000
NODE_ENV=production

# Optional security key for your frontend scanner
SCANNER_API_KEY=change-this-secret-key
ALLOWED_ORIGIN=*

# Angel One SmartAPI Credentials
ANGEL_API_KEY=your_api_key_here
ANGEL_CLIENT_CODE=your_client_code_here
ANGEL_PASSWORD=your_pin_or_password_here
ANGEL_TOTP_SECRET=your_totp_secret_here

# Optional headers
CLIENT_LOCAL_IP=127.0.0.1
CLIENT_PUBLIC_IP=127.0.0.1
CLIENT_MAC_ADDRESS=00:00:00:00:00:00
ANGEL_BASE_URL=https://apiconnect.angelone.in
